@model KitList.WebUI.Models.BookViewModel

@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" style="border-style:outset;background-color:#f2f2f2;margin-bottom:10px;">
    <h3>Add New Book</h3>

    <hr />
    <form asp-controller="Book" asp-action="Add" method="post" >
        <div class="form-group">
            <label asp-for="book.Title" class="control-label" style="font-weight:bold;"></label>
            <input asp-for="book.Title" class="form-control" placeholder="Title" required />
            <span asp-validation-for="book.Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="book.Author" class="control-label" style="font-weight:bold;"></label>
            <input asp-for="book.Author" class="form-control" placeholder="Author" required />
            <span asp-validation-for="book.Author" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="book.PublishYear" class="control-label" style="font-weight:bold;"></label>
            <input asp-for="book.PublishYear" class="form-control" type="number" placeholder="Publish Year (For example : 2001, 2013)" required/>
            <span asp-validation-for="book.PublishYear" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="book.Price" class="control-label" style="font-weight:bold;"></label>
            <input asp-for="book.Price" class="form-control" type="number" placeholder="Price (Please do not enter more than 4 digits)" required/>
            <span asp-validation-for="book.Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Add" class="btn btn-primary btn-block" />
        </div>
    </form>
</div>

